 #modalevent .modal-dialog {
    max-width: 900px;
    height: auto;
  

    }
    .cal1 .clndr .clndr-table tr .day .day-contents {
        box-sizing: border-box;
        padding: 0; 
        font-size: 12px;
        text-align: center;
        height: 26px;
        width: 26px;
        margin: 0 auto;
        line-height: 22px;
    }

    .cal1 .clndr .clndr-table tr .day {
        width: 100%;!important
        height: inherit;!important
    }
    .cal1 .clndr .clndr-table tr .empty, .cal1 .clndr .clndr-table tr .adjacent-month, .cal1 .clndr .clndr-table tr .my-empty, .cal1 .clndr .clndr-table tr .my-adjacent-month {
        width: 100%;!important
        height: inherit;!important
        background: #eee;!important
    }
    .cal1 .clndr .clndr-table tr {
        height: 45px;!important
    }
    td.day.today { 
        background-color: #fff !important;
    }
 .cal1 {
    width: 100%;
    padding-top: 10px;
    position: relative;
    background: #fff;
    margin-top: 60px;
    padding: 10px 0px 0;
    border-radius: 7px;
}
    td.day.today div{
        width: 70%;
        margin: 7px auto;
        border: 1px solid #20b8ef;
        border-radius: 28px;
        height: 30px;
        line-height: 13px;
        background-color: #20b8ef;
        color:#fff;
    }
    #modalevent .modal-header {
        text-align: left !important;
        float: left;
        width: 100%;
        display: inline-block;
        color: #1dafed;
        /* font-family: "Open Sans"; */
    }
    .quote_left_fix {
    float: left;
    background: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 3px 0px 6px #eeeeee;
    -webkit-box-shadow: 3px 0px 6px #eeeeee;
    -moz-box-shadow: 3px 0px 6px #eeeeee;
    width: 30%;
    min-height: 660px;
    position: relative;
}
.quote_right_sec {
    float: right;
    width: 70%;
    padding: 60px 20px 20px 20px;
}
.fc-toolbar .fc-left {
    float: left;
    position: absolute;
    left: 35px;
    width: 100%;
    top: 20px;
}
.fc-toolbar .fc-left .btn-group {
    float: left;
    width: 293px;
}
.fc-toolbar .fc-left .btn.btn-default {
    border: 1px solid #1dafed;
    width: 33.3%;
    float: left;
    color: #1dafed !important;
    background: #fff;
    box-shadow: none;
}
    
.fc-toolbar .fc-left .btn-group .btn.btn-default.active {
    background: #1dafed;
    color: #fff  !important;
}
.cal1 .clndr .clndr-table tr .empty, .cal1 .clndr .clndr-table tr .adjacent-month, .cal1 .clndr .clndr-table tr .my-empty, .cal1 .clndr .clndr-table tr .my-adjacent-month {
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    width: 100%;
    height: inherit;
    background: #fff;
    color: #d4d4d4;
}
.cal1 .clndr .clndr-table tr .day {
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    width: 100%;
    height: inherit;
}
.cal1 .clndr .clndr-table .header-days .header-day {
    vertical-align: middle;
    text-align: center;
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    color: #fff;
    background: #fff;
    color: #1dafed;
    font-weight: bold;
}
.cal1 .clndr .clndr-table tr .day:last-child {
    border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table .header-days .header-day:last-child {
    border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr:last-child .day, .cal1 .clndr .clndr-table tr:last-child .my-day {
    border-bottom: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr .empty:last-child, .cal1 .clndr .clndr-table tr .adjacent-month:last-child, .cal1 .clndr .clndr-table tr .my-empty:last-child, .cal1 .clndr .clndr-table tr .my-adjacent-month:last-child {
    border-right: 0px solid #000000;
}
.cal1 .clndr .clndr-table tr .day.event, .cal1 .clndr .clndr-table tr .day.my-event {
    background: #fff;
    position: relative;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
    box-sizing: border-box;
    padding: 0px;
    font-size: 12px;
    text-align: center;
}
td.day.event .day-contents::after {
    content: "";
    background: #1dafed;
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border-radius: 10px;
    margin-left: -2px;
}
.cal1 .clndr .clndr-controls .clndr-control-button {
    float: left;
    width: 10%;
}
.cal1 .clndr .clndr-controls .clndr-control-button.rightalign {
    text-align: center;
    width: 10%;
    float: right;
}

td.day.today.calendar-day-2018-08-31.calendar-dow-5 .day-contents {
    background: #1dafed;
    border: 0;
    color: #fff;
}
.cal1 .clndr .clndr-controls .month {
    float: left;
    width: 80%;
    text-align: center;
}
.cal1 .clndr .clndr-table tr .day.event:hover, .cal1 .clndr .clndr-table tr .day.my-event:hover {
    background: #d8d8d8;
    color: #fff;
}
button.fc-month-button.btn.btn-default {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
button.fc-agendaDay-button.btn.btn-default {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.CalenderMainPage .quote_right_sec {
    padding-top: 0;
}
.CalenderMainPage .quote_right_sec p {
    margin: 0;
    padding: 0;
    border: 0;
}
.CalenderMainPage .quote_right_sec p button#modalEventButton {
    position: absolute;
    top: -47px;
    right: 70px;
    background: transparent;
    border: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    line-height: 25px;
}
.CalenderMainSearch {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 4px;
}
.CalenderMainSearch .form-group {
    float: left;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #f9f9f9;
    padding-bottom: 0;
}
.CalenderMainSearch .form-group input.SearchEvent {
    border: 0;
    float: left;
    width: 100%;
    padding: 6px 10px;
}
ul.SelectedEventlist {
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
    padding: 10px 10px;
    height: 190px;
    overflow-y: auto;
    cursor: pointer; 
}
ul.SelectedEventlist li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e4e3e3;
    padding: 7px 5px 5px;
}
ul.SelectedEventlist li h3 {
    color: #1dafed;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    float: left;
    width: 100%;
}
ul.SelectedEventlist li span {
    float: left;
    width: 100%;
    font-size: 13px;
    text-align: left;
}
ul.SelectedEventlist li:last-child {
    border-bottom: 0;
}
.fullcalendar .fc-row.panel-default th {
    border: 0 !important;
    font-weight: normal;
    padding-bottom: 20px;
}
.fullcalendar .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 0px;
} 
.fullcalendar .table-bordered {
    border: 0px solid #eceeef;
}
.fullcalendar  td.fc-head-container {
    border: 0 !important;
}
.fc-row.panel-default {
    border-right: 0px !important;
}
td.fc-sun, td.fc-sat {
    background: #f5f4f4;
}
.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-helper-skeleton td {
    background: 0 0;
    border-color: transparent;
    padding: 0 10px 0;
}
td.fc-day.fc-fri.fc-today.alert.alert-info , .alert-info{
    background: #fff;
}
.fc-today span.fc-day-number {
    background: #fd4141;
    width: 32px;
    height: 32px;
    margin-top: 1px;
    text-align: center;
    color: #fff;
    padding: 0;
    border-radius: 30px;
    line-height: 31px;
    font-size: 14px;
}

.isEvent::after {
    content: "";
    background: #1dafed;
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border-radius: 10px;
    margin-left: -2px;
}
.cal1 .clndr .clndr-table tr .day.intro .day-contents {
    background: #d8d8d8;
    border-radius: 30px;
}
.cal1 .clndr .clndr-table tr .day.event:hover .day-contents, .cal1 .clndr .clndr-table tr .day.my-event:hover .day-contents {
    background: #d8d8d8;
    color: #fff;
    border-radius: 80px;
}
.cal1 .clndr .clndr-table tr .day.event:hover , .cal1 .clndr .clndr-table tr .day.my-event:hover {
    background: transparent;
    border-radius: 80px;
}
.cal1 .clndr .clndr-table tr .day:hover .day-contents {
    background: #eee;
}
.cal1 .clndr .clndr-table tr .day:hover {
    background: transparent;
}
.cal1 .clndr .clndr-table tr .day:hover .day-contents {
    background: #eee;
    border-radius: 21px;
}
.cal1 .clndr .clndr-table tr .day.today.event:hover .day-contents{background-color: #20b8ef;td.day.today div} 
.event-index {
    float: left;
    width: 100%;
    background: #fff;
    padding: 0 0 0 10px;
    min-height: 714px;
}
th.fc-day-header.fc-sun.fc-past span, th.fc-day-header.fc-sat.fc-future span {
    color: #ababab;
}
tbody.fc-body tr td:first-child {
    border-left: 0;
    border-top: 0;
}
tbody.fc-body tr td:first-child {
    border-left: 0;
    border-top: 0;
    padding-top: 0 !important;
    vertical-align: top;
}
.todayDiv {
    float: none;
    width: 85%;
    text-align: center;
    background: red;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 0;
    margin: 0 auto;
    border-radius: 33px;
}
.main-wrap {
    float: left;
    width: 100%;
    min-height: 100%;
    position: relative;
}
.time, .mins, .meridian {
    width: 32px;
    float: left;
    margin: 0 5px;
    font-size: 20px;
    color: #2d2e2e;
    font-family: arial;
    font-weight: 700;
}
.event-create {
    float: left;
    width: 100%;
}
.NewEventForm {
    float: left;
    width: 100%;
}
.newEventLft_Form {
    float: left;
    width: 55%;
    padding-right: 10px;
}
input.form-control.eventform_fields {
    background: #f5f5f5;
    border: 0;
    box-shadow: none;
    height: 44px;
    font-size: 16px;
    border-radius: 6px;
    padding: 2px 12px;
}
.EventSelectBtns {
    float: left;
    width: 50%;
    padding-right: 10px;
}
.EventSelectBtns.teamMember {
    padding-right: 0;
    padding-left: 10px;
}
.newEventLft_Form .form-group {
    float: left;
    width: 100%;
}
.evnetFormLft_Calender {
    float: left;
    width: 50%;
    padding-right: 10px;
    margin-bottom: 15px;
}
.EventSelectBtns.timeSelect {
    padding-right: 0;
    padding-left: 10px;
}
.RadioMainDiv {
    float: left;
    width: 100%;
}
.RadioMainDiv span {
    float: left;
    margin-right: 20px;
}
#modalevent .modal-header {
    text-align: left !important;
    float: left;
    width: 100%;
    display: inline-block;
    color: #20b8ef;
    /* font-family: "Open Sans"; */
}
.newEvent_RhtForm {
    float: right;
    width: 44%;
}



.cal2 {
    max-width: 237px;
    margin: -13px auto;
    font-family: 'Droid Sans Mono';
}

.cal2 .clndr .clndr-table tr .empty, .cal2 .clndr .clndr-table tr .adjacent-month, .cal2 .clndr .clndr-table tr .my-empty, .cal2 .clndr .clndr-table tr .my-adjacent-month {
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    width: 100%;
    height: inherit;
    background: #fff;
    color: #d4d4d4;
}
.cal2 .clndr .clndr-table tr .day {
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    width: 100%;
    height: inherit;
}
.cal2 .clndr .clndr-table .header-days .header-day {
    vertical-align: middle;
    text-align: center;
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    color: #fff;
    background: #fff;
    color: #1dafed;
    font-weight: bold;
}
.cal2 .clndr .clndr-table tr .day:last-child {
    border-right: 0px solid #000000;
}
.cal2 .clndr .clndr-table .header-days .header-day:last-child {
    border-right: 0px solid #000000;
}
.cal2 .clndr .clndr-table tr:last-child .day, .cal2 .clndr .clndr-table tr:last-child .my-day {
    border-bottom: 0px solid #000000;
}
.cal2 .clndr .clndr-table tr .empty:last-child, .cal2 .clndr .clndr-table tr .adjacent-month:last-child, .cal2 .clndr .clndr-table tr .my-empty:last-child, .cal2 .clndr .clndr-table tr .my-adjacent-month:last-child {
    border-right: 0px solid #000000;
}
.cal2 .clndr .clndr-table tr .day.event, .cal2 .clndr .clndr-table tr .day.my-event {
    background: #fff;
    position: relative;
}
.cal2 .clndr .clndr-table tr .day .day-contents {
    box-sizing: border-box;
    padding: 8px;
    font-size: 12px;
    text-align: center;
}
td.day.event .day-contents::after {
    content: "";
    background: #1dafed;
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border-radius: 10px;
    margin-left: -2px;
}
.cal2 .clndr .clndr-controls .clndr-control-button {
    float: left;
    width: 10%;
    text-align: center;
    padding-left: 10px;
    color: #ccc;
    font-size: 12px;
    padding-top: 4px;
}
.cal2 .clndr .clndr-controls .clndr-control-button.rightalign {
    text-align: center;
    width: 10%;
    float: right;
    padding-left: 0;
}

td.day.today.calendar-day-2018-08-31.calendar-dow-5 .day-contents {
    background: #1dafed;
    border: 0;
    color: #fff;
}
.cal2 .clndr .clndr-controls .month {
    float: left;
    width: 80%;
    text-align: center;
}
.cal2 .clndr .clndr-table tr .day.event:hover, .cal2 .clndr .clndr-table tr .day.my-event:hover {
    background: #d8d8d8;
    color: #fff;
}

.newEventLft_Form .field-userDataSelect label.control-label {
    display: none;
}
.select2-container {
    float: left;
}
span.selection {
    float: left;
    width: 100%;
    text-align: left;
}
div#inlineDatepicker1, div#inlineDatepicker {
    background: #fff;
}
#inlineDatepicker1 td.header-day, #inlineDatepicker td.header-day {
    font-size: 14px;
    color: #20b8ef;
    font-weight: normal;
}
#inlineDatepicker1 .day-contents, #inlineDatepicker .day-contents {
    padding: 4px 8px;
}
#inlineDatepicker1 td.day.today div , #inlineDatepicker td.day.today div {
    width: 100%;
    margin: 0;
    border: 1px solid #20b8ef;
    border-radius: 28px;
    height: 30px;
    line-height: 20px;
    background-color: #20b8ef;
    color: #fff;
}
.TimeSelect {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    height: 44px;
    width: 100%;
    border-radius: 6px;
    padding: 2px 12px;
    font-size: 14px;
    margin-bottom: 6px;
}
input.timepicki-input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 0;
    text-align: center;
    width: 124%;
    font-size: 15px;
    padding: 7px 0;
}
.prev, .next {
    cursor: pointer;
    padding: 14px;
    width: 20px !important;
    border: 1px solid #ccc;
    margin: auto;
    background: url(../images/arrow.png) no-repeat;
    border-radius: 5px;
    float: left;
    background-size: 15px 40px;
    background-position: center 10px !important;
}
.ti_tx, .mi_tx, .mer_tx {
    width: 100%;
    text-align: center;
    margin: 4px 0 4px;
    float: left;
}
.next.action-prev {
    background-position: center -29px !important;
}

#tblappointments-allday label {
    float: left;
    width: 50%;
    margin-top: 5px;
}
input#timepicker2 {
    margin-bottom: 12px;
}
#map {
    border: 1px solid #DDD;
    width: 100%;
    height: 364px;
    margin: 10px 0 10px 0;
    -webkit-box-shadow: none;
}
.modal-header .close {
    margin-top: -3px;
    z-index: 9;
    color: #20b8ef;
}
.modal-backdrop.fade {
    opacity: 0.5;
}
#inlineDatepicker1 td.day.dateSelected .day-contents, #inlineDatepicker .day.dateSelectedUpdate .day-contents {
    background: #e8e8e8 !important;
    border-radius: 20px !important;
    border: 1px solid #e8e8e8 !important;
}
.select2-container--krajee .select2-selection--single .select2-selection__clear {
    right: 3rem;
    top: 6px !important;
}
#inlineDatepicker td.day.event .day-contents::after {
    content: "";
    background: #1dafed;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border-radius: 10px;
    margin-left: -2px;
}
#inlineDatepicker .day.event .day-contents {
    background: #e8e8e8;
    border-radius: 40px;
}
.cal2 .clndr .clndr-table tr .day.event:hover, .cal2 .clndr .clndr-table tr .day.my-event:hover {
    background: transparent !important;
}





      /* Optional: Makes the sample page fill the window. */
      html, body {
        
        margin: 0;
        padding: 0;
      }
      


      
/* for event update*/

.cal2 {
    max-width: 237px;
    margin: -13px auto;
    font-family: 'Droid Sans Mono';
}

.cal2 .clndr .clndr-table tr .empty, .cal2 .clndr .clndr-table tr .adjacent-month, .cal2 .clndr .clndr-table tr .my-empty, .cal2 .clndr .clndr-table tr .my-adjacent-month {
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    width: 100%;
    height: inherit;
    background: #fff;
    color: #d4d4d4;
}
.cal2 .clndr .clndr-table tr .day {
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    width: 100%;
    height: inherit;
}
.cal2 .clndr .clndr-table .header-days .header-day {
    vertical-align: middle;
    text-align: center;
    border-left: 0px solid #000000;
    border-top: 0px solid #000000;
    color: #fff;
    background: #fff;
    color: #1dafed;
    font-weight: bold;
}
.cal2 .clndr .clndr-table tr .day:last-child {
    border-right: 0px solid #000000;
}
.cal2 .clndr .clndr-table .header-days .header-day:last-child {
    border-right: 0px solid #000000;
}
.cal2 .clndr .clndr-table tr:last-child .day, .cal2 .clndr .clndr-table tr:last-child .my-day {
    border-bottom: 0px solid #000000;
}
.cal2 .clndr .clndr-table tr .empty:last-child, .cal2 .clndr .clndr-table tr .adjacent-month:last-child, .cal2 .clndr .clndr-table tr .my-empty:last-child, .cal2 .clndr .clndr-table tr .my-adjacent-month:last-child {
    border-right: 0px solid #000000;
}
.cal2 .clndr .clndr-table tr .day.event, .cal2 .clndr .clndr-table tr .day.my-event {
    background: #fff;
    position: relative;
}
.cal2 .clndr .clndr-table tr .day .day-contents {
    box-sizing: border-box;
    padding: 8px;
    font-size: 12px;
    text-align: center;
}
td.day.event .day-contents::after {
    content: "";
    background: #1dafed;
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border-radius: 10px;
    margin-left: -2px;
}
.cal2 .clndr .clndr-controls .clndr-control-button {
    float: left;
    width: 10%;
}
.cal2 .clndr .clndr-controls .clndr-control-button.rightalign {
    text-align: center;
    width: 10%;
    float: right;
}

td.day.today.calendar-day-2018-08-31.calendar-dow-5 .day-contents {
    background: #1dafed;
    border: 0;
    color: #fff;
}
.cal2 .clndr .clndr-controls .month {
    float: left;
    width: 80%;
    text-align: center;
}
.cal2 .clndr .clndr-table tr .day.event:hover, .cal2 .clndr .clndr-table tr .day.my-event:hover {
    background: #d8d8d8;
    color: #fff;
}














.time, .mins, .meridian {
    width: 30px;
    float: left;
    margin: 0 10px;
    font-size: 20px;
    color: #2d2e2e;
    font-family: arial;
    font-weight: 700;
}
.event-create {
    float: left;
    width: 100%;
}
.NewEventForm {
    float: left;
    width: 100%;
}
.newEventLft_Form {
    float: left;
    width: 55%;
    padding-right: 10px;
}
.EventSelectBtns {
    float: left;
    width: 50%;
    padding-right: 10px;
}
.EventSelectBtns.teamMember {
    padding-right: 0;
    padding-left: 10px;
}
.EventSelectBtns select {
    float: left;
    width: 100%;
    background: #f5f5f5;
    border: 0;
    height: 40px;
    border-radius: 3px;
    padding: 2px 7px;
    font-size: 14px;
}
.newEventLft_Form .form-group {
    float: left;
    width: 100%;
}
.evnetFormLft_Calender {
    float: left;
    width: 50%;
    padding-right: 10px;
    height: 150px;
}
.EventSelectBtns.timeSelect {
    padding-right: 0;
    padding-left: 10px;
}
.EventSelectBtns.timeSelect label {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: normal;
    margin-bottom: 5px;
}
.RadioMainDiv span {
    float: left;
    margin-right: 20px;
}
textarea.Notefield {
    float: left;
    width: 100%;
    background: #f5f5f5;
    border: 0;
    border-radius: 6px;
    padding: 7px 10px;
    height: 70px;
}
.newEvent_RhtForm {
    float: right;
    width: 44%;
}
.field-userDataSelectUpdate label.control-label {
    display: none;
}
.select2-container--krajee .select2-selection--single {
    height: 44px !important;
    line-height: 1.428571429;
    padding: 10px 24px 6px 12px !important;
}
.select2-container--krajee .select2-selection {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #f5f5f5 !important;
    border: 0px solid #ccc !important;
    border-radius: 6px !important;
    color: #555555;
    font-size: 14px !important;
    outline: 0;
}
.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    border: none;
    border-left: 0px solid #aaa !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    position: absolute;
    height: 44px !important;
    top: 1px;
    right: 1px;
    width: 28px !important;
}
.select2-container--krajee .select2-selection__clear {
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: 0.1rem !important;
}
