@font-face {
	font-family: 'Open Sans';
	src: url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-BoldItalic.woff2') format('woff2'),
	url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-ExtraboldItalic.woff2') format('woff2'),
	url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-ExtraboldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-SemiboldItalic.woff2') format('woff2'),
	url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-SemiboldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-Bold.woff2') format('woff2'),
	url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans.woff2') format('woff2'),
	url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-Semibold.woff2') format('woff2'),
	url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSansLight-Italic.woff2') format('woff2'),
	url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSansLight-Italic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-Extrabold.woff2') format('woff2'),
	url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-Extrabold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-Light.woff2') format('woff2'),
	url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-Italic.woff2') format('woff2'),
	url('http://enacteservices.com/paintpad/vendor/mpdf/mpdf/ttfonts/OpenSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}