body.head-cls {
	margin:0px;
	padding: 0 0 40px;
	background: url(../image/background.png) no-repeat;
	background-size: cover;
	background-position:center center;
	width: 100%;
	position: relative;
	min-height:100%;
}
a:hover, a:focus, a:active {
	text-decoration:none;
}
body {
	margin: 0px;
	padding: 0 0 40px;
	width: 100%;
	position: relative;
	min-height: 100%;
	background: #f9fcfe;
}
#header {
	float: left;
	width: 100%;
	background: #fff;
}
html{
  height: 100%;
  box-sizing: border-box;
}
/* wrapper*/
.wrapper {
	width: 100%;
	padding: 0px;
}
/*login_main*/
.login_main {
	margin:0px;
	width:100%;
}
.login_box {
	width: 400px;
	margin:24% auto;
	padding: 0px;
}
.main_box_login {
	margin: 0px auto;
	width: 100%;
}
.login_logo {
	text-align: center;
	margin-bottom: 50px;
}
.email_filed {
	border-bottom: 1px solid ededed;
}
.email_filed {
	width: 100%;
	border-bottom: 1px solid #cccc !important;
	border: 0px;
	height: 40px;
	text-indent: 40px;
}
.password_filed {
	width: 100%;
	border-bottom: 1px solid #cccc !important;
	border: 0px;
	height: 40px;
	text-indent: 40px;
}
.login_fild {
	position: relative;
	margin-bottom: 30px;
	width: 100%;
}
.login_fild2 {
	position: relative;
	margin-bottom:10px;
	width: 100%;
}
.login_fild img {
	position: absolute;
}
.login_fild2 img {
	position: absolute;
}

.login
{
	width:100px;
	border:0px;
	background:#1dafec;
	font-size:18px;
	font-weight:600;
	text-shadow:0px;
	color:#fff;
	line-height:60px;
	width:100%;
}
.forgot_password
{
	text-align:right;
	font-size:16px;
	font-weight:600;
	color:#1dafec;
}
.forgot_password a
{
	color:#1dafec;
}
.forgot_password a:hover
{
	text-decoration:none;
}
.copy_right {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}


/*********************************/


.it h2{ color: #666; font-family: "Roboto-Light"; padding-top: 10px; }
a:hover { text-decoration: none;}


.navbar-brands {height:70px; margin:0 0 30px 0; padding:0; }

.navbar-fixed-top {
  border: 0;
}
.navbar-inverse { background:#fff;border:0; }
.navbar-inverse ul{  }
.navbar-inverse li { list-style:none; display:inline; }



.categories { font-family: "Roboto-Regular"; }
.categories ul { margin: 0; border-top: 1px solid #eee; padding-left: 11px; border-bottom: 2px solid #eee; padding-top: 15px; padding-bottom: 15px; }
.categories li { margin-right: 30px;  }
.categories li a{ font-size: 1em; color: #666;}
.categories li a:hover { color:#CC2B55;}
.categories button { margin-left: 10px;}
.txtarea { border: 1px solid #ccc; height: 60px; margin-bottom: 10px;}

/*.footer { border-top: 2px solid #eee; margin-top: 30px; margin-bottom: 30px; padding-top: 15px;font-size: 0.9em; color: #999;}*/







/***********/
.modal .img-sel
{
	  border-radius: .3rem;
}
.img-sel{text-align: center;min-height: 250px;vertical-align: middle;padding: 7% 0;   }

.cap-l{
    width: 100%;
    float: left;
    color: #fff;
    font-size: 20px;
}



/***/

.menu{
	width: 0px;
	transition:all 0.3s;
	height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #673AB7;
    padding-top: 30px;
    color:white;

}
.menu i{
	margin:5px 0px;
	top: 0px;
	right: 10px;
	position: absolute;
	font-size: 30px;

}
.fa.fa-bars {
    margin: 5px 0px;
    left: 0;
    font-size: 00px;
    color: #0f4988;
    position: absolute;
    z-index: 1;
    top: 10px;
}
.menu li{
    list-style: none;
	font-size: 20px;
	padding: 5px 0px;
	font-weight: 600;
}
.menu li:hover{
	background-color: #E91E63;
	font-size: 25px;

}
.menu ul{
	padding-top: 20px;
	padding-left: 0px;
	text-align: center;
}



.menuOpen{
	width: 375px;
    background-color: #0f4988;
	transition:all 0.3s;
}

.menuClose{
	background-color:  #673AB7;
	transition:all 0.3s;
	padding-left: 0px!important;
	transition:all 0.3s;


}
.mainOpen{
	transition:all 0.3s;
    margin-left:410px;
	transition:all 0.3s;


}

.mainClose{
	transition:all 0.3s;
    margin-left: 0px;
	transition:all 0.3s;


}


.jumbotron{
	border-radius: 0px;
	background-color: #673AB7;
	color:white;
}

.jumbotron .btn{
    border-radius: 0px;
    padding: 10px 40px;
	background-color: #E91E63;
	border:none;
}

.logout img{display: block;
    margin: 0 auto;}

.logout span{display: block;
   }



.footer {
  
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

   .wrap {
    min-height: 100%;
    max-height: 1564px;
    padding-bottom: 25px;
    background-position: 50% 50%;
}

.modal-sm {
    max-width: 800px;
}



/*=== 24-05-2018 ===*/
.modal-dialog {
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
	transform: -webkit-translate(-50%, -50%) !important;
	transform: -moz-translate(-50%, -50%) !important;
	position: absolute;
	max-width: 670px;
}
#smallShoes .cap-l {
	margin-top: 10px;
	font-size: 24px;
}
.close {
	float: right !important;
	right: 10px;
	left: auto;
	opacity: 1;
	position: absolute;
	top: 7px;
	font-weight: normal;
	font-size: 23px;
	width: 28px;
	height: 28px;
	text-align: center;
	border-radius: 20px;
	border: 2px solid #149DE9 !important;
	line-height: 25px;
}
.close span {
	color: #149DE9;
}
#smallShoes .modal-header {
	border-bottom: 0px;
}
#smallShoes .modal-body {
	padding: 50px 40px 40px;
}
#smallShoes .modal-header {
	border-bottom: 0px;
	padding: 0;
}
#smallShoes .col.img-sel {
	padding-top: 63px;
}
#InteriorQuote .modal-dialog.modal-sm {
	max-width: 900px;
	background: #f9fcfe;
	border-radius: .3rem;
}
#InteriorQuote .modal-header h3 {
	font-size: 1.5em;
	color: #1dafed;
}
#InteriorQuote .modal-header h3 img {
	float: left;
	margin-right: 7px;
}
.Detail_prt_div {
	width: 100%;
}
.Detail_inner {
	width: 330px;
	background: #fff;
	margin: 0 auto;
	float: none;
	box-shadow: 0 1px 4px #dddddd;
	display: inline-block;
	padding: 6px;
}
.Detail_inner h3 {
	display: inline-block;
	width: 100%;
	float: left;
	text-align: center;
	position: relative;
	font-size: 1.2rem;
	border-right: 0px solid #dcdcdc;
	margin: 0;
	padding: 8px 0 0;
	color: #444;
}
.nav.nav-tabs {
	border: 0;
}
.col.img-sel.interior {
	background: #145f98;
	margin-right: 10px;
}
.col.img-sel.exterior {
	background: #1dafeb;
	margin-left: 10px;
}	
.Detail_inner h3 span {
	position: relative;
	width: 32px;
	height: 32px;
	display: inline-block;
	float: left;
	margin-left: 6px;
}
.clientIcon {
	position: absolute;
	left: 0;
	top: 0;
}
.clientIcon.icon1 {
	opacity: 0;
}
.Detail_inner h3 span.headingTxt {
	display: inline-block;
	width: auto;
	height: auto;
}
.Detail_inner .nav.nav-tabs li:hover h3, .Detail_inner .nav.nav-tabs li a.active h3, .Detail_inner .nav.nav-tabs li.active h3 {
	color: #1dafed;
}
.Detail_inner .nav.nav-tabs li:hover  .clientIcon, .Detail_inner .nav.nav-tabs li a.active  .clientIcon, .Detail_inner .nav.nav-tabs li.active  .clientIcon{
	opacity:0
}
.Detail_inner .nav.nav-tabs li:hover  .clientIcon.icon1, .Detail_inner .nav.nav-tabs li a.active  .clientIcon.icon1, .Detail_inner .nav.nav-tabs li.active  .clientIcon.icon1{
	opacity:1
}
.modal-content {
	background: transparent;
}
.modal-dialog {
	background: #f9fcfe;
	border-radius: .3rem;
}
.nav.nav-tabs li {
	border-right: 1px solid #dcdcdc;
	text-align: center;
	float: left;
	width: 50%;
}
.nav.nav-tabs li:last-child {
	border-right: 0px solid #dcdcdc;
}
#InteriorQuote .tab-content {
	float: left;
	width: 100%;
	background: #fff;
	padding-top: 40px;
	margin-top: -24px;
}
.client_detail_form .form-group {
	float: left;
	width: 100%;
}
.client_detail_form {
	float: left;
	width: 100%;
	padding: 0 15px;
}
#InteriorQuote .modal-body {
	padding: 15px 0 0;
}
.client_detail_form .form-group label {
	font-size: 16px;
	font-weight: 600;
	color: #404040;
	float: left;
	width: 100%;
}
.description_input {
	float: left;
	width: 100%;
	border-radius: 4px;
	border: 0px;
	background: #f5f5f5;
	padding: 10px 10px;
	box-sizing: border-box;
	height: 60px;
}
.form-control {
	background: #f5f5f5;
	border-color: #f5f5f5;
	font-size: 16px;
	height: 40px;
}
.new_exist_client {
	float: left;
	width: 100%;
	margin-top:10px;
}
#InteriorQuote .new_exist_client .tab-content {
	padding: 15px 0 0;
	margin: 0;
}
.new_exist_client .nav.nav-tabs {
	float: left;
	width: 100%;
	text-align: left;
}
.new_exist_client .nav.nav-tabs li {
	float: left;
	display: inline-block;
	width: auto;
	text-align: left;
	padding: 0 15px;
	font-size: 14px;
}
.new_exist_client .nav.nav-tabs li h4 {
	color: #444;
	font-size: 18px;
	margin: 0;
	padding-bottom: 2px;
	border-bottom: 2px solid transparent;
}
.new_exist_client .nav.nav-tabs li:hover h4, .new_exist_client .nav.nav-tabs li a.active h4 {
	color: #1dafed;
	border-bottom: 3px solid #1dafed;
	padding-bottom: 2px;
	margin: 0;
}
.btn-group.bootstrap-select {
	width: 100% !important;
}
.dropdown-toggle::after {
	content: "";
	border: 0px;
	width: 18px;
	height: 10px;
	background-image: url(../image/selectIcon.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 10px;
	top: 13px;
}
.map_div {
	float: left;
	width: 100%;
	position: relative;
}
.map-pin {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.gotoBtn.btn.btn-primary {
	background: none;
	border: 0px;
}
.form-control.search {
	position: relative;
	padding-right: 30px;
}
.searchbtn.btn-primary {
	background: none;
	border: 0;
	position: absolute;
	right: 20px;
	top: 9px;
}
.existing_client_list {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
.existing_client_list li {
	float: left;
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 5px;
	margin-top: 10px;
}
.existing_client_list li:last-child{border-bottom:0px;}
.existing_client_list li small {
	color: #7c7c7c;
}
.col.border-leftright {
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	padding-top: 20px;
}
.existing_client_list h3 {
	font-size: 1.1rem;
	font-weight: 600;
	color: #444;
	margin: 0;
	float: left;
	width: 100%;
}
.profile_img {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.client_name {
	font-size: 20px;
	color: #303030;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 3px;
	margin-bottom: 5px;
}
.client_email {
	color: #9a9a9a;
}
.address h4 {
	font-size: 18px;
	color: #7c7c7c;
	padding-top: 10px;
	margin: 0 0 6px;
}
.tab-pane {
	float: left;
	width: 100%;
}
.goto_btn_div {
	float: left;
	width: 100%;
	text-align: right;
	background: #fff;
}
.clear.btn-primary {
	background-color: #1daeed;
	border: 1px solid #1daeed;
	border-radius: 3px;
	padding: 4px 21px;
	margin: 12px 0 25px;
}

.row.existing_menu {
	margin-top: 20px;
}
.row.existing_client_detail {
	margin-bottom: 20px;
}
.nav-link {
	padding: 0;
	border: 0 !important;
}

/*=== 28-05-2018 ===*/

.dashboard_cross {
	font-size: 46px;
	float: right;
	line-height: 30px;
	margin-left: 20px;
	font-weight: lighter;
}
.text-right.detail_logo {
	float: right;
}
.inner-header h2 {
	display: inline-block;
	font-size: 23px;
	padding-top: 7px;
}
.quote_detail_wrap {
	float: left;
	width: 100%;
	background: #f9fcfe;
	padding: 15px 0;
}
.quote_detail_inner {
	float: left;
	width: 100%;
	background: #fff;
}
.quote_left_fix {
	float: left;
	background: #f9f9f9;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 3px 3px 6px #eeeeee;
	-webkit-box-shadow: 3px 3px 6px #eeeeee;
	-moz-box-shadow: 3px 3px 6px #eeeeee;
	width: 30%;
	min-height: 660px;
}
.tab-content.card {
	border: 0;
	box-shadow: none;
}
.clientImg {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 2px;
}
.clientName {
	font-size: 20px;
	float: left;
	width: 100%;
	border-bottom: 1px solid #eaeaea;
}
.client_contact {
	float: left;
	width: 100%;
	color: #c6c6c6;
	line-height: 26px;
	font-size: 17px;
	margin-top: 5px;
}
.quote_count_detail {
	float: left;
	width: 100%;
	margin-top: 50px;
}
.quote_count {
	float: left;
	width: 50%;
	border-bottom: 1px solid #e8e8e8;
	font-size: 24px;
	color: #bcbcbc;
	display: block;
	text-align: center;
	padding: 12px 0px;
	border-right: 1px solid #e8e8e8;
	min-height: 105px;
}
.quote_count span {
	float: left;
	width: 100%;
	padding: 2px 0;
	font-size: 26px;
	font-weight: lighter;
}
.quote_count.invoice, .quote_count.addquote {
	border-right: 0;
}
.quote_count.quote, .quote_count.addquote {
	border-bottom: 0;
}
.quote_right_sec {
	float: right;
	width: 70%;
	padding: 60px 20px 20px 20px;
}
.Site_address_div {
	float: left;
	width: 65%;
	margin-top: 20px;
	padding-right: 40px;
}
.Site_contact_div {
	float: left;
	width: 35%;
	margin-top: 20px;
	padding-left: 0px;
}
.site-head {
	font-size: 18px;
	font-weight: 600;
}
.site-contact-detail {
	float: left;
	width: 100%;
}
.Site_address_div p {
	font-size: 15px;
	color: #8c8c8c;
}
.map-add {
	float: left;
	width: 100%;
	position: relative;
}
.map-add span {
	position: relative;
	width: 100%;
	float: left;
}
.map-add span > img{width:100%}
.map-add span.map-pin {
	width: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.map-add span.map-pin img {
	width: auto;
}
.site-contact-detail p {
	margin: 0;
	font-size: 16px;
	color: #9c9c9c;
	line-height: 26px;
}
.site_status {
	float: left;
	width: 100%;
	margin-top: 100px;
}
.site_status label {
	font-size: 17px;
	font-weight: 600;
}
.site_status .btn.dropdown-toggle.btn-new {
	color: #7c7c7c;
}
.submit_btn.btn {
	font-size: 16px;
	background: #1dafed;
	color: #fff;
	margin-top: 20px;
	width: 100px;
	font-weight: 600;
}
.quote_detail_inner .nav.nav-tabs.nav-justified {
	float: right;
	width: 69%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
}
.quote_detail_inner .nav.nav-tabs .nav-item {
	border-right: 0 !important;
	width: auto !important;
	padding: 0 0px;
	-webkit-box-flex: initial;
	-webkit-flex: initial;
	-ms-flex: initial;
	flex: initial;
	text-align: center;
}
.quote_detail_inner .nav.nav-tabs .nav-item .nav-link {
	font-size: 15px;
	text-transform: uppercase;
	color: #343434;
	padding: 8px 10px 7px;
	border-bottom: 1px solid #ccc !important;
}
.quote_detail_inner .nav.nav-tabs .nav-item.show .nav-link, .quote_detail_inner .nav.nav-tabs .nav-item .nav-link.active {
	color: #1DAFED;
	background-color: #fff;
	border-color: #1DAFED !important;
}
.wrap_footer {
	float: left;
	width: 100%;
	margin-top: 120px;
}
.bootstrap-select.show .dropdown-menu.inner {
	display: block;
}
.bootstrap-select.show .dropdown-menu.inner li {
	border-bottom: 1px solid #dcdcdc;
	padding: 5px 8px;
}
.bootstrap-select.show .dropdown-menu.inner li a {
	color: #545454;
}
.bootstrap-select.show .dropdown-menu.inner li:hover {
	background: #fcfcfc;
}
.dropdown-menu.open {
	padding: 3px 0;
}
.paint_lft_form {
	float: left;
	width: 100%;
	text-align: left;
}
.btn.dropdown-toggle.btn-new {
	color: #707070;
	font-size: 15px;
	font-weight: 500;
}
.paint_lft_form label {
	font-size: 16px;
	font-weight: 600;
}

.checkbox_label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #9c9c9c;
	font-weight: normal;
	font-size: 16px;
	font-weight: 600;
}
/* Hide the browser's default checkbox */
.checkbox_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	background-color: #eee;
	border-radius: 3px;
}
/* On mouse-over, add a grey background color */
.checkbox_label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_label input:checked ~ .checkmark {
    background-color: #1DAFED;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox_label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_label .checkmark::after {
	left: 9px;
	top: 5px;
	width: 6px;
	height: 13px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.form-group.checkbox_div {
	float: left;
	width: 100%;
	position: relative;
	margin: 7px 0 0;
}


.default_heading {
	float: left;
	width: 100%;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 20px;
}
.job_default_details {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.default_heading span {
	height: 30px;
	width: 32px;
	background: #f0f0f0;
	float: left;
	text-align: center;
	padding-top: 6px;
	margin-right: 7px;
}
.default_heading small {
	font-size: 18px;
	color: #6c6c6c;
	font-weight: 600;
}
.fill_default_form {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 5px;
}
.btn.dropdown-toggle.btn-new {
	background: #F5F5F5;
}
.fill_default_form .form-group.small {
	float: left;
	width: 30%;
	padding: 0 10px;
}
.fill_default_form .form-group.small:first-child {
	padding-left: 0;
}
.fill_default_form .form-group.small:last-child {
	padding-right: 0;
}
.form-group.long {
	float: left;
	width: 40%;
	padding-left: 10px;
}
.tire_img {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
.paint_lft_form h4 {
	color: #373737;
	font-size: 16px;
	font-weight: 600;
	border-bottom: 1px solid #dcdcdc;
	padding: 2px 4px 7px;
	margin-bottom: 15px;
}
.form-control:focus {
	color: #464a4c;
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	outline: 0;
}
.form-control.roomtype_edit {
	background-image: url(../image/form_edit.png);
	background-repeat: no-repeat;
	background-position: 97% center;
	padding-right: 34px;
}
.or.text-center {
	font-size: 16px;
	color: #373737;
	float: left;
	width: 100%;
	font-weight: 600;
	padding: 12px 0;
}
.room_index_btn {
	float: left;
	width: 48%;
	margin: 3px 1%;
	background: #85e0ff;
	border-radius: 5px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	height: 65px;
	line-height: 60px;
	border: 2px solid transparent;
}
.room_index_btn.blue.full {
	width: 98%;
}
.room_index_btn.darkblue {
	background: #145f97;
}
.room_index_btn.blue {
	background: #1dafeb;
}
.room_index_btn.active {
	border-color: #145f97;
}
.add-room-tab {
	float: left;
	width: 100%;
	text-align: center;
}
.quote_detail_inner .add-room-tab .nav.nav-tabs.nav-justified {
	position: initial;
	float: none !important;
	width: auto !important;
	text-align: center;
	border: 1px solid #1daeed;
	display: inline-block;
	border-radius: 7px;
}
.quote_detail_inner .add-room-tab .nav.nav-tabs .nav-item {
	float: none !important;
	width: auto !important;
	text-align: center;
	display: table-cell;
}
.quote_detail_inner .add-room-tab .nav.nav-tabs .nav-item .nav-link {
	padding: 5px 15px;
	border-bottom: 0 !important;
	border-right: 1px solid #1daeed !important;
	border-radius: 0;
	background: transparent;
	font-size: 13px;
}
.quote_detail_inner .add-room-tab .nav.nav-tabs .nav-item:last-child .nav-link{border-right:0px !important;}
.quote_detail_inner .add-room-tab .nav.nav-tabs .nav-item .nav-link.active {
	background: #1daeed;
	color: #fff;
}
.quote_right_sec .tab-content {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.room_detail_form label {
	float: left;
	width: 100%;
	font-size: 18px;
	font-weight: 600;
	color:#373737;
}
.room_detail_form input {
	float: left;
	width: 22%;
	padding: 6px;
	margin: 0 8px 0 0;
}
.room_detail_form label small {
	font-size: 15px;
}
.btn.btn-transparent.pull-right.add_dim_btn {
	background: #f0f0f0;
	padding: 0 13px;
	border-radius: 0;
	height: 40px;
	cursor: pointer;
}
.material-icons {
	font-size: 25px;
	color: #8c8c8c;
}
.btn.btn-large.room_default_btn {
	background: #1daeed;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	padding: 7px 15px;
	margin-top: 2px;
	margin-bottom: 8px;
}
.room_default_setting {
	float: left;
	width: 100%;
	font-size: 14px;
}
.row.addroom_row {
	margin-top: 40px;
}
.select_ceilings .ceilint_container {
	display: table-cell;
	position: relative;
	float: left;
	padding: 0;
	width: auto;
	font-weight: normal;
	font-size: 14px;
	margin: 6px 6px 11px 0;
}
.select_ceilings .ceilint_container .checkbox_text {
	background: #ececec;
	padding: 5px 14px;
	font-weight: normal;
	font-size: 14px;
	border-radius: 22px;
}
.room_detail_form .ceilint_container input {
	position: absolute;
	left: 0;
	opacity: 0;
}
.room_detail_form .ceilint_container input:checked ~ .checkbox_text{background:#1daeed; color:#fff}
.orante_numbers {
	float: left;
	width: 35%;
	margin-right: 17px;
}
.room_detail_form .orante_numbers label {
	float: left;
	width: auto;
	margin: 0;
	background: #f5f5f5;
	border-radius: 30px;
	padding: 0 10px 0 15px;
}
.room_detail_form .orante_numbers label span {
	font-weight: normal;
	font-size: 16px;
	float: left;
	line-height: 37px;
}
.room_detail_form .orante_numbers label .form-control.number_small {
	float: right;
	z-index: 9;
	width: 53%;
	padding: 0;
	margin: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.footer_back_logo {
	float: left;
	margin-right: 60px;
}
.room_detailfill {
	float: left;
	width: 70%;
}
.room_detailfill h4 {
	color: #1DAFEB;
	font-size: 20px;
	font-weight: 600;
	float: left;
	margin: 0 20px 0 0;
}
.room_fillComplete {
    padding: 0;
    margin: -16px 0 0 0;
    list-style: none;
    float: left;
    width: 76%;
}
.room_fillComplete li {
	display: table-cell;
	padding: 0 19px;
	font-size: 16px;
	font-weight: 600;
	position: relative;
	width: 20%;
}
.room_fillComplete li span {
	background: #c0d7de;
	width: 18px;
	height: 18px;
	border: 2px solid transparent;
	float: none;
	border-radius: 30px;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}
.room_fillComplete p {
	margin-bottom: 8px;
}
.room_fillComplete li::after {
	position: absolute;
	left: 46px;
	width: 100%;
	content: "";
	background: #c0d7de;
	height: 3px;
	bottom: 7px;
}
.room_fillComplete li:last-child::after{width:0px;}
.room_fillComplete li.steps.complete::after {
    background: #1DAFEB;
}
.room_fillComplete li.steps.complete span{
	background: #1DAFEB;
}
.room_fillComplete li.steps.current span{
	border-color: #1DAFEB;
	background:#fff;
}
.nxt_room {
	float: right;
	text-align: center;
	color: #343434;
	font-size: 16px;
	font-weight: 600;
	margin-top: -20px;
}
.nxt_room span {
	float: left;
	width: 100%;
}
.special_item_div {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.special_item_div .form-group .btn.dropdown-toggle.btn-new {
	padding: 5px 40px 5px 10px;
	height: 40px;
	font-size: 14px;
	font-weight: 600;
}
.special_item_div .form-group {
	float: left;
	margin: 0;
	width: auto;
}
.or_separator {
	float: left;
	margin: 0 15px;
	font-size: 17px;
	font-weight: 600;
	line-height: 32px;
}
.special_item_div .form-group .form-control.custom_tem_add {
	font-size: 14px;
	font-weight: 600;
	width: auto;
}
.item_price label {
	float: left;
	font-weight: normal;
	color: #9c9c9c;
	margin-right: 5px;
}
.item_price .form-control.number_item {
	float: left;
	width: 80% !important;
	display: table-cell;
}
.form-control.number_item2 {
	width: 75px;
}
.tabs_table th, .tabs_table td {
	padding: 10px 5px;
	font-weight: 600;
	font-size: 16px;
	border-top: 0;
	border-bottom: 1px solid #dcdcdc;
}
.table_checkbox .checkbox_label {
	margin: 6px 0 0 0;
}
.cross_row {
	font-size: 22px;
	font-weight: normal;
}
.table-hover tbody tr:hover {
	background-color: transparent;
}
.dropdown-menu.open {
	padding: 0px 0;
}
.quntites_Tabs .nav.nav-tabs.nav-justified {
	position: initial;
	float: right;
	width: auto;
}
.tabs_table td {
	font-weight: normal;
}
.tabs_table td strong {
	width: 100%;
	float: left;
	padding-right: 30px;
}
#bycomponent_table thead tr {
	background: #ebeaea;
}
#special_item_table thead tr {
	background: #ebeaea;
}
#special_item_table {
	margin-top: 50px;
}
.quote_detail_inner .quntites_Tabs .nav.nav-tabs .nav-item .nav-link {
	border-bottom: 0px !important;
}
.noteTopIcons {
	position: absolute;
	top: -65px;
	right: 0;
}
.noteTopIcons a {
	margin: 0 6px;
}
.note_list {
	float: left;
	width: 100%;
	padding: 0;
	margin: 30px 0 0 0;
	list-style: none;
}
.note_list li {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ededed;
	padding: 12px 0;
}
.trash {
	padding-right: 11px;
	padding-top: 10px;
	display: inherit;
}
.note_list p {
	font-size: 17px;
	margin: 3px 0 4px;
	color: #303030;
}
.note_list small {
	color: #a6a6a6;
	font-size: 14px;
}
.note_list li:last-child{border-bottom:0px;}
.rooms_tab h3 {
	font-size: 18px;
	color: #1f1f1f;
	font-weight: 600;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
ul.rooms_tab_list {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 90%;
}
.rooms_tab_list li {
    float: left;
    width: 16%;
    position: relative;
}
.rooms_tab_list li::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #c0d7de;
    position: absolute;
    bottom: 7px;
    left: 24px;
}
span.room_steps {
    background: #c0d7de;
    height: 16px;
    width: 16px;
    display: flex;
    margin: 0 0 0 24px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

/*==== CONTACT STYLE ====*/
.search_div .form-control.search {
	border: 1px solid #ececec;
	background: #fff;
	padding-left: 34px;
	background-image: url(../image/search.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 14px 15px;
	font-size: 15px;
}
.contact_icons img {
	margin-left: 10px;
}
.nav.nav-tabs.nav-justified.contact_tabs_list {
	border-bottom: 1px solid #ccc !important;
	width: 66%;
	right: 35px;
}
.contact_list {
	list-style: none;
	padding: 0;
	margin: 10px 0 0;
	text-align: left;
}
.contact_list li {
	padding: 15px 10px;
	float: left;
	width: 100%;
}
.contact_list li .cnt_img {
	float: left;
	margin-right: 12px;
}
.contact_list li .contact_person_detail {
	float: left;
}
.contact_person_detail p {
	font-size: 18px;
	margin: 0 0 2px;
	font-weight: 600;
	color: #545454;
}
.contact_person_detail small {
	color: #acacac;
}
.add_contact.text-right {
	width: 100%;
	float: left;
}
.contact_detail_heading h3 {
	color: #303030;
	font-size: 20px;
	font-weight: 600;
	float: left;
}
.edit.text-right {
	float: right;
}
.contact_detail_heading {
	float: left;
	width: 100%;
	border-bottom: 1px solid #efefef;
	padding: 0 10px 5px;
}
.personal_deatil.row {
	float: left;
	width: 100%;
	padding: 23px 0 0;
}
.personal_inner.mid {
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}
.personal_inner h5 {
	font-size: 16px;
	font-weight: 600;
	color: #aeaeae;
}
.map_location {
	float: left;
	width: 100%;
	position: relative;
}
.location_map {
	float: left;
	width: 100%;
	position: relative;
}
.location_icon {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 2;
}
.location_icon img {
	width: 22px;
}
.personal_count {
	padding: 20px 10px;
	list-style: none;
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 0;
}
.personal_count li {
	float: left;
	width: 50%;
	text-align: center;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	min-height: 115px;
	padding: 20px 0;
	color: #cccccc;
	font-weight: 300;
}
.personal_count li:nth-child(2n){border-right:0px;}
.personal_count li:nth-child(3){border-bottom:0px;}
.personal_count li:nth-child(4){border-bottom:0px;}
.personal_count li h4 {
	font-size: 26px;
	font-weight: 300;
	color: #bcbcbc;
}
.contact_name {
	float: left;
	width: 100%;
	border-bottom: 1px solid #dfdfdf;
	font-size: 18px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
}
.personal_inner.left a {
	color: #c6c6c6;
	font-size: 16px;
}
.quotes_list {
	float: left;
	width: 100%;
	padding: 15px 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #dbdbdb;
	display: flex;
	display: -webkit-flex;
}
.quotes_list li {
	padding: 0 15px;
	flex-flow: 1;
	-webkit-flex-grow: 1;
	box-flex: 1;
	-webkit-box-flex: 1;
}
.quotes_list li small {
	font-size: 16px;
	font-weight: 600;
	color: #444444;
	text-transform: uppercase;
}
.quotes_list li h4 {
	font-size: 32px;
	font-weight: lighter;
	color: #acacac;
}
.quotes_list li span {
	color: #00AEEF;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
}
.quotes_list li .name {
	font-size: 17px;
	white-space: nowrap;
	line-height: 29px;
}
.interior {
	text-align: center;
}
.quotes_list li .interior span {
	color: #b5b5b5;
	font-weight: normal;
	letter-spacing: 0;
}
.compt_Action {
	text-align: center;
}
.quotes_list li .compt_Action span {
	color: #7bdd8e;
}
#addContact .modal-dialog {
	max-width: 900px;
}
#addContact .modal-title {
	font-size: 18px;
	font-weight: normal;
}
#addContact .modal-title img {
	float: left;
	margin: 4px 10px 0 0;
}
#addContact .close {
	border: 0 !important;
	color: #149DE9;
	font-weight: 300 !important;
	font-size: 34px;
	line-height: 40px;
}
#addContact .row.existing_client_detail {
	padding: 0px 15px;
}
.profile_div {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}
.profile_div {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}
.profile_edit {
	position: absolute;
	left: 73px;
	top: 3px;
}
#addContact .row.existing_client_detail h2, #addContact .row.existing_menu h2 {
	font-size: 18px;
	margin-bottom: 15px;
	float:left;
	width:100%;
}
#addContact .row.existing_client_detail .col {
	padding: 0 5px;
}
#addContact .row.existing_menu {
	margin-top: 20px;
	padding: 0 15px;
}
#addContact .row.existing_menu .col-8, #addContact .row.existing_menu .col-4 {
	padding: 0 5px;
}
#addContact .goto_btn_div {
	background: transparent;
}
.quote_right_sec.contact_quotes > h3 {
	font-size: 20px;
	font-weight: 600;
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 10px;
}
.quotes_list:last-child {
	border-bottom: 0;
}
.mail_box {
	float: left;
	width: 100%;
	padding: 0 0 15px;
}
.mail_heading {
	float: left;
	width: 100%;
	background: #e4e4e4;
	padding: 4px 14px;
	font-size: 15px;
}
.mail_sub {
	font-weight: 600;
	font-size: 16px;
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 2px;
}
.mail_sub {
	font-weight: 600;
	font-size: 16px;
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom:10px;
}
.mail_box .form-group label {
	float: left;
	width: 16%;
	font-weight: 700;
	margin: 0;
	font-size:14px;
}
.mail_box .form-group p {
	float: left;
	width: 83%;
	margin: 0;
	font-size:14px;
}
.mail_box .form-group {
	float: left;
	width: 100%;
	margin: 1px 0;
}
.mail-content-box {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.mail-content-box p {
	margin: 0 0 5px;
	float: left;
	width: 100%;
	font-size: 14px;
}
.inner_mail_box {
	float: left;
	width: 100%;
	padding: 0 20px;
}
.mail-content-box a {
	float: left;
	width: 100%;
	color: #323232;
	font-weight: 600;
}
.addAppointment {
	position: absolute;
	top: 0;
	right: 22px;
}
.appointment_box {
	float: left;
	width: 100%;
}
.appointment_box .row.head {
	background: #e4e4e4;
	padding: 5px 0;
	float: left;
	width: 100%;
}
.appointment_box .row.head h5 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	color: #4c4c4c;
	line-height: 23px;
}
.appointment_box .row.body h4 {
	font-size: 18px;
	margin: 0;
}
.appointment_box .row.body small {
	color: #8c8c8c;
	line-height: 23px;
}
.appointment_box .row.body p {
	margin: 0;
	font-size: 16px;
	line-height: 20px;
}
.appointment_box .row.body {
	float: left;
	width: 100%;
	padding: 15px 0px;
	border-bottom: 1px solid #eaeaea;
}
.invoice_table.table th, .invoice_table.table td {
	padding: 10px 5px;
	font-weight: 600;
	font-size: 15px;
	background: #e4e4e4;
	border-top: 0;
	border-bottom: 1px solid #eceeef;
}
.invoice_table.table td {background:#fff}
.invoice_table.table td {
	background: #fff;
	font-size: 15px;
	color: #6c6c6c;
	font-weight: normal;
}